<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Bienvenu Dans Notre Etablissement </h1>
            <p class="lead">Bienvenue au Collège Moreau, établissement d’enseignement privé sous-contrat, situé à Montlhéry (91), en région parisienne.

                            Notre établissement est composé du Collège Privé Moreau et de l’Ecole Primaire Privée Moreau Blaise Pascal. Fondées en 1828 et 1832, les deux institutions ont été réunies en 1996 pour offrir un enseignement de qualité dans un cadre privilégié à 20 minutes de Paris. Du CP à la 3ème, filles et garçons sont accueillis dans un cadre familial. Ils y apprennent en toute sérénité tout en s'épanouissant. Nous proposons à nos élèves une scolarité en internat ou en demi-pension.

                            Réussite, épanouissement, mérite, écoute, font partie de nos maîtres-mots
                            Des valeurs essentielles pour apprendre mieux et qui sont les clés de la réussite pour la poursuite des études. A l’Ecole Primaire Moreau Blaise Pascal et au Collège privé Moreau, l’élève est au centre de notre pédagogie. Grâce à un suivi personnalisé, l'élève est écouté, guidé, orienté et comprend mieux ses objectifs. Le mercredi après-midi, des activités sportives sont proposées aux élèves (football, basketball, équitation, théâtre, etc).

                            Composez le 01 69 01 00 20 pour nous joindre
                            Si vous recherchez pour votre enfant un établissement privé d’enseignement où il pourra apprendre dans les meilleures conditions, dans un cadre privilégié près de Paris, Versailles, Etampes, Nanterre, Créteil, etc, n'hésitez pas à nous appeler au 01 69 01 00 20.

                            Grâce à notre internat, les élèves venant de Paris, l’Essonne, les Yvelines ou plus loin, pourront suivre une scolarité plus détendue, débarrassée des contraintes des transports au quotidien. Pour toute information complémentaire ou question, contactez-nous par téléphone, ou via notre formulaire de contact.</p>
            <hr class="my-2">
            <p>More info</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
            </p>
        </div>
    </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
