<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Institut Moreau </h1>
            <p class="lead"><!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Les 10 Commandements </h1>
            <p class="lead">Une équipe d’enseignants
Extrêmement dynamique, attachée à une pédagogie traditionnelle et ouverte sur le monde est à votre écoute.

Le corps enseignant de notre collège privé est composé de professionnels passionnés par leur métier et engagés dans la réussite des études de leurs élèves.

L’emploi du temps est fixé en début d’année et pour une organisation facilitée, les élèves ont toujours cours dans la même classe. Les horaires sont renforcés dans les disciplines de base et l’acquisition progressive des connaissances validée par de nombreux contrôles.

La lecture, le support écrit, la propreté surveillée des cahiers sont couplés à du matériel numérique interactif nouvelle génération dans chaque salle de classe pour rendre les enseignements organisés et vivants.

Nous associons les familles
Qui le souhaitent à nos réunions et à nos déplacements externes.

Nous favorisons l’épanouissement
Personnel des collégiens et des primaires par la mise en place de projets individuels permettant à chacun de donner le meilleur de lui-même et par la pratique de nombreux sports et d’activités ludiques comme le théâtre.

Nous communiquons avec les familles
Pour un suivi au plus près du travail et des progressions de leurs enfants, nous mettons en ligne à disposition des parents sur ce site www.collegemoreau.free.fr chaque vendredi, le travail présent dans le cahier de texte de la classe et certains professeurs mettent en ligne leurs cours et progressions annuelles.

Nous innovons
En motivant les enfants par leur participation au bureau des élèves et en les rendant co-responsables du développement des nouvelles activités.

Nous imposons aux enfants
Un rythme de travail qui leur permet d’atteindre le lycée dans les meilleures conditions. Tous les soirs en étude dirigée, les leçons sont récitées et les devoirs vérifiés. Les matières où l’élève présente des difficultés sont revues en cours de soutien et de rattrapage.</p>
            <hr class="my-2">
            <p>More info</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
            </p>
        </div>
    </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
</p>
            <hr class="my-2">
            <p>More info</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
            </p>
        </div>
    </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
